@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

.card-margin {
  margin: 25px;
  box-shadow: 2px 2px 4px #49525a;
  opacity: 0.8;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.index-ul {
  list-style-type: none;
}

.h1-styles {
  font-style: 'Montserrat', sans-serif;
  color: white;
  font-size: 5em;
  text-shadow: 4px 4px 4px #49525a;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 3.125rem;
  letter-spacing: -1.1px;
  padding: 50px;
}
