.h3-styles {
  color: white;
  font-size: 3em;
  text-shadow: 4px 4px 4px #49525a;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 3.125rem;
  letter-spacing: -1.1px;
  padding: 30px;
}

.card-box-shadow {
  box-shadow: 2px 2px 4px #49525a;
}

.card {
  background-color: powderblue;
}

.list-group-item {
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px #49525a;
}
