// .section{
//   float: right;
// }
//
// .row-margin{
//   margin: 10px 5px;
// }
//
// .h1-styles{
//   font-style: "Montserrat", sans-serif;
//   color: white;
//   font-size: 5em;
//   text-shadow: 4px 4px 4px #49525A;
//   font-weight: bold;
//   font-family: "Montserrat",sans-serif;
//   line-height: 3.125rem;
//   letter-spacing: -1.1px;
//   padding: 50px;
// }

.item-h1{
  line-height: 1.3;
  margin-bottom: -30px;
}

.col-align{
  text-align: left;
}

.button-styles{
  margin: 20px !important;
  margin-top: 40px !important;
  align-items: center !important;
}
